$background: #1d2126;
$background-hover: #00625c;
$font-size: 16px;

@mixin rounded-corners($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

@mixin line-gradient($colors...) {
  background: -moz-linear-gradient(top, $colors);
  background: -webkit-linear-gradient(top, $colors);
  background: -o-linear-gradient(top, $colors);
  background: -ms-linear-gradient(top, $colors);
  $start: str-slice(inspect(nth($colors, 1)), 1, 7);
  $end: str-slice(inspect(nth($colors, length($colors))), 1, 7);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$start}', endColorstr='#{$end}',GradientType=0 );
  background: linear-gradient(to bottom, $colors);
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow:    $shadow;
  box-shadow:         $shadow;
}

.popline {
	background: $background;
  position: absolute;
  @include rounded-corners($font-size/4);
  // @include box-shadow(0px 2px 8px rgba(0, 0, 0, 0.75));
  // @include line-gradient(#2CA6F8 0%, #2B8AE2 100%);
  opacity: 0.95;
  display: none;
  margin: 0;
  list-style: none;
  padding: 0px 2px;
  font-family: Arial, Helvetica, "Hiragino Sans GB", sans-serif;
  text-rendering: optimizeLegibility;
  white-space: nowrap;

  li {
    color: white;
    font-size: $font-size;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    display: inline-block;

    .popline-text,
	.material-icons {
      font-size: $font-size * 1.1;
      //top: -3px;
      display: inline-block;
      position: relative;
    }

	.popline-text {
		top: -3px;	
	}

    a {
      margin: 0;
      outline: none;
      padding: $font-size * .75;
      height: $font-size * .9;
      vertical-align: middle;
      display: inline-block;
      min-width: $font-size;

      &:link,
	  &:hover,
	  &:visited,
	  &:active {
        color: white;
        text-decoration: none;
      }
    }
  }
  .popline-hover {
    background-color: $background-hover;
    // @include line-gradient(darken(#2CA6F8, 10%) 0%, darken(#2B8AE2, 10%) 100%);
    // @include box-shadow(inset 0px 0px 8px rgba(0, 0, 0, 0.75));
  }
  .popline-boxed {
    padding: 0 2px;
  }
  .popline-lighter {
    font-weight: lighter;
  }
  .popline-subbar {
    display: none;
    list-style: none;
    padding: 0;
  }
  .popline-textfield {
    border: none;
    height: $font-size * 2 - 4px;
    vertical-align: top;
    font-size: $font-size;
    //@include box-shadow(inset 0px 0px 6px 0px rgba(0,0,0,0.30));
    // background: darken(#2B8AE2, 10%)\9;
    background: lighten($background, 20);
	margin: 3px 0;
	padding: 2px 4px;
    color: #FFFFFF;
    line-height: $font-size * 2 - 4px;
    display: none;
    outline: none;
    width: 300px;
  }
  .popline-textfield:-webkit-input-placeholder { color: #EEE; }
  .popline-textfield:-moz-placeholder { color: #EEE; }
  .popline-textfield:-moz-placeholder { color: #EEE; }
  .popline-textfield:-ms-input-placeholder { color: #EEE; }
}
